body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    border-left: 4px solid #900028;

}

.sidebar h3 {
    color: #900028;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    
}

.sidebar ul li a {
    text-decoration: none;
    color: black;

}

.btn {
    background-color: #900028;
    color: white;
    padding: 0px;
    border: none;
    width: 175px;
    height:50px;
    margin-top: 20px;
    cursor: pointer;
    transform: scale(1.5);
    margin-left: 43px;
    font-weight: 600;
    
}

.content {
    flex: 1;
    padding: 20px;
}

.path {
    font-size: 14px;
    color: gray;
}

.path a {
    text-decoration: none;
    color: #900028;
}

h1 {
    color: #900028;
}



.quote {
    font-style: italic;
    color: #333;
    font-weight: 500;

}

.image-section {
    width: 1000px;
    height: 300px;
    margin-top: 500px;
}

.image-section img {
    width: 50%;
    border-radius: 60px;
    width: 1000px;
    height: 300px;
    margin-top: 500px;
}
